/* Set global styles for the page */
body {
    margin: 3;
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
  }
  
  /* Style for the header */
  header {
    background-color: #89CFF0;
    padding: 120;
  }
  
  header h1 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 36px;
  }
  
  /* Style for the user info section */
  .basic-info {
    background-color: #E8F0FE;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 3);
  }
  
  .basic-info img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .basic-info h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
  }
  
  .basic-info p {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
  }
  
  /* Style for the badges section */
  .badges-section {
    text-align: center;
    background-color: #E8F0FE;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .badges-section h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  /* Style for the videos section */
  .videos-section {
    background-color: #E8F0FE;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .videos-section h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .videos-section p {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
  }
  
  /* Style for the posts section */
  .posts-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .posts-section h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .posts-section .post-container {
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .posts-section .post-container h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .posts-section .post-container p {
    margin-top: 0;
    font-size: 18px;
  }
  